# ========================
# Node & Yarn
# ========================
node_modules/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
.yarnrc.yml

# ========================
# Build outputs
# ========================
dist/
build/
out/
public/build/
.cache/
.temp/
coverage/

# ========================
# Logs & Diagnostics
# ========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ========================
# Environment files
# ========================
.env
.env.*.local
!.env.example

# ========================
# Editor / OS files
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp

# ========================
# TypeScript
# ========================
*.tsbuildinfo

# ========================
# Testing
# ========================
jest-html-reporters-*.html
jest-cache/
jest-coverage/
coverage-final.json

# ========================
# Misc
# ========================
# Local history or IDE files
.history/
*.log
